<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="QrCode" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=QRCode;User ID=niksa;Password=Niksa2015;Integrated Security=false" />
  </connectionStrings>
  <appSettings>
    <add key="reportOutputPath" value="izvestaj.xls"/>
  </appSettings>
</configuration>